



<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="text-muted">&copy; {{Year}}</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><img width="24" height="24" src="/favicon.png"/></li>
    </ul>
  </footer>
</div>

<script src="/static/js/jquery-3.3.1.min.js?v={{BuildCommit}}"></script>
<script src="/static/js/bootstrap.min.js?v={{BuildCommit}}"></script>
<script src="/static/highlight/highlight.min.js?v={{BuildCommit}}"></script>
<script src="/static/table/bootstrap-table.min.js?v={{BuildCommit}}"></script>
<script type="text/javascript">
hljs.initHighlightingOnLoad();
$('table').bootstrapTable({});
</script>

<script>
$('.x-search').submit(function(e){
    e.preventDefault();
    var kw = $('.x-kw').val();
    if(!kw){
        $('.x-kw').focus();
        return false;
    }
    var url = '/so/' + encodeURIComponent(kw) + '.html';
    window.location = url;
    return false;
});
</script>

</body>
</html>